.navbar {
    border-radius: 0;
    margin-bottom: 0;
    color: #344057;
}

.jumbotron {
  background-image: url("../img/jumbotron_bg2.jpg");
  background-size: cover;
  margin-bottom: 0;
  color: white;
}


#numberSelectedND {
    color: black;
}
